/*
 *
 * CSS Goal: Follow the ITCSS methodology
 * Watch: https://youtu.be/1OKZOV-iLj4?t=401
 * Read:  https://speakerdeck.com/dafed/managing-css-projects-with-itcss
 *
 */


/*
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix,
.clearfix:before,
.clearfix:after {
   content: " "; /* 1 */
   display: table; /* 2 */
 }

.clearfix:after {
   clear: both;
}


/* Use border-box for box-sizing so padding doesn't add to the width or height of objects */
/* Make sure box-sizing is inherited */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html, body {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul, ol {
  list-style: none;
  padding: 0;
}

.hero {
  width: 96%;
  margin: 0 auto;
}

.item-complete {
  text-decoration: line-through;
}

.playlist .playlistItem a {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 6px;
  background-color: aliceblue;
}
